# /usr/lib/systemd/system/nginx.service 
[Unit]
Description=Nginx Reverse Proxy to 10.66.66.2
Documentation=man:nginx(8)
After=network-online.target remote-fs.target
Wants=network-online.target
ConditionFileIsExecutable=/usr/sbin/nginx

[Service]
Type=forking

User=server
Group=server
UMask=0077

PIDFile=/run/nginx/nginx.pid
RuntimeDirectory=nginx
RuntimeDirectoryMode=0770
StateDirectory=nginx
StateDirectoryMode=0700
CacheDirectory=nginx

ExecStartPre=/usr/sbin/nginx -t -q -g 'daemon on; master_process on; pid /run/nginx/nginx.pid;'
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on; pid /run/nginx/nginx.pid;'
ExecReload=/usr/sbin/nginx -g 'daemon on; master_process on; pid /run/nginx/nginx.pid;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/nginx/nginx.pid
TimeoutStopSec=5
KillMode=mixed

ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes

ReadWritePaths=-/var/log/nginx -/var/lib/nginx -/var/cache/nginx

# Для возможности биндить 80/443
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

RestrictAddressFamilies=AF_INET AF_UNIX

IPAddressDeny=any
IPAddressAllow=10.66.66.2
IPAddressAllow=127.0.0.1
IPAddressAllow=10.0.0.0/8 
IPAddressAllow=0.0.0.0/0

IPAccounting=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectHostname=yes
ProtectClock=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RemoveIPC=yes
SystemCallFilter=@system-service
SystemCallFilter=~@resources @privileged
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
